@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
 nav{
    display: flex;
    background-color: bisque;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;

    
}
nav ul{
    justify-content: flex-end;
    display: flex;
    
 }

 nav ul li{
    margin: 10px;

 }
 
#logo{
    justify-content: flex-start;
    margin: 10px;
 }


 nav button{
    justify-content: flex-end;
 }