@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}
 nav{
    display: flex;
    background-color: #000;
    width: 100vw;
    align-items: baseline;
    justify-content: space-between;
}
nav ul{
    justify-content: flex-end;
    display: flex;
    
 }

 nav ul li{
    margin: 10px;

 }
nav a {
    color: #fff;
}

#logo{
    justify-content: flex-start;
    margin: 10px;
 }


 nav button{
    justify-content: flex-end;
 }

 main{
    height: 85vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
 }



 footer{
    background-color: #000;
    width: 100%;
    color: #fff;
 }